.tableContent
{
  border: 1px solid black;
  border-radius: 15%;
}
.tableContent th
{
  font-weight: bolder;
  text-align: center;
  font-size: 1rem;
}
.tableContent td 
{
  border: 1px solid black;
  text-align: center;
  font-size: 0.8rem;
}