*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* MyTableComponent.css */

/* General table styling */
table {
  width: 93%; /* Reduced width */
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 2px solid black; /* Black border */
  margin-bottom: 20px; /* Add margin at the bottom */
  margin-left: 5px; /* Add left margin */
}

/* table[role="table"] th:first-child {
  width: 185px !important; 
 
} */

/* Apply styles to all th elements except the first one */

/* Table header styling */
th {
  padding: 8px 12px; /* Reduced padding */
  text-align: left;
  background-color: #ff693d; /* Vedantu orange */
  color: #ffffff; /* Black for better contrast */
  font-weight: bold;
  border-bottom: 2px solid #000000; /* Vedantu darker orange */
  border-right: 1px solid black; /* Border between header cells */
}

/* Table body row styling */
tr {
  border-bottom: 1px solid #000000;
}

/* Table body cell styling */
td {
  padding: 8px 12px; /* Reduced padding */
  border-bottom: 1px solid #000000;
  border-right: 1px solid black; /* Border between cells */
  background-color: #f4f6f7; /* Light sky blue */
}

/* Highlighted row styling */
tr:hover {
  background-color: #f4f6f7; /* Light blue */
}

/* Input field styling */
 input[type='text'] {
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 4px; 
  margin-top: 20px; 
  width:250px
}

/* Placeholder text color */
 input[type='text']::placeholder {
  color: #616060;
}

.select{
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 20px; 
  width:125px
} */ */


/* No data message styling */
.no-data-message {
  font-style: italic;
  color: #888;
}




.nav{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(204, 202, 202);
  padding-bottom: 10px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 1px;
  
}

button{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:500 ;
  font-size: '200px';
  line-height: '30px';
  letter-spacing: 0.2px;
  color: #000000;
  background-color: white;
  border: white;
  padding-top: 9px;
  transition: border-top ease-in 0.3s;
  
}

button:hover{
  border-top: 2px solid #ff693d;
  color:#ff693d;
}

button:active{
  border-top: 2px solid #ff693d;
  color:#ff693d;
}

.call{
  display: flex;

}

.nav_button{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}

button{
  cursor: pointer;
}


h3{
  text-align: center;
  margin-top: 10px;
}
h2{
  text-align: center;
  margin-top: 10px;
}

h4{
  margin-bottom: 10px;
  margin-top: 10px;
}

.home-conatiner{
  margin-left: 86px;
  margin-right: 75px;
  padding-bottom: 50px;
}

.tables{
  margin: 10px auto;
  display: block;
}

li{
  margin-left: 40px;
}


.exam-main{
  margin: 20px auto;
  width: 90vw;
}

.exam-table{
  margin-left:40px ;
  width:85vw;
}

.analysis-main{
  
  padding: 0 0 0 80px !important;
}









.charts-container {
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  width: 93%;
  padding: 10px;
  margin-bottom: 40px;
}

.pie-chart-container,
.line-chart-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 45%;
  height: 350px;
  padding: 20px;
  /* background-color: #6f6d6d; */
  border: 2px solid #878787;
  box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.6);
  
}

.chart-empty-container{
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  width: 93%;
  padding: 10px;
  margin-bottom: 40px;
}

.chart-empty{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 45%;
  height: 350px;
  padding: 20px;
  /* background-color: #6f6d6d; */
  border: 2px solid #878787;
  box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.6);
}


